<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> Accente </title>
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="css/all.css" rel="stylesheet">
	<!-- Owl Carousel CSS -->
	<link href="css/owl.carousel.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper-main">
	
	<%- include('navbar'); %>
	
	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3"> About Us</h1>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active"> About Us </li>
				</ol>
			</div>
		</div>
	</div>

    <div class="container">
		<!-- About Content -->
		<div class="about-main">
			<div class="row">
				<div class="col-lg-6">
					<img class="img-fluid rounded mb-4" src="images/about-img.jpg" alt="" />
				</div>
				<div class="col-lg-6">
					<h2>About Accente</h2>
					<p>With more than 2,000 professionals, Accente provides audit and assurance, tax, consulting, strategy and risk and financial advisory services to a broad cross-section of the best small, medium and large corporations.</p>
					<p>Accente is specialized in customer experience business transformation services, supported by our renowned supply chain management digitalization programs.</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="about-inner">
		<div class="container">
			<div class="row mb-4">
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Today</h3>
						<p>As the covid-19 pandemic hit, companies understood the importance of strengthen their supply chain processes and were forced to accelerate their adoption for customer experience strategies.</p>
						<p>We want companies to succeed and overcome their challenges, while meeting their target and objectives. This is why we are here.</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="images/mission-img.jpg" alt="" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="right-ab">
						<img class="img-fluid rounded mb-4" src="images/vision-img.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="left-ab">
						<h3>Our Vision</h3>
						<p>Accente understands that they need to evolve into a more scalable enterprise, when linear growth is not enough, they decided to create a Chief Transformational Office that will be in charge of taking Accente to the new major leagues.</p>
						<p>Last October, Accente appointed Jenny A. I. as their new CTO with focus in 5 main pillars:</p>
						<ol>

							<li>Support the CEO in decision making</li>
							<li>Support Increase Win Rate (CRO KPI)</li>
							<li>Improve utilization and Employee Satisfaction (CHRO KPI)</li>      
							<li>Improve Project Profitability & Customer Satisfaction (COO KPI)</li>
							<li>PLower Costs (CFO KPI)</li>							
					  </ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<!-- Team Members -->
		<div class="team-members-box">  
			<h2>Some of our team</h2>
			<br>
			<div class="row">
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/team_01.jpg" alt="Fernando Leung" />
							<div class="team-content">
								<h3 class="title">Fernando Leung</h3>
								<span class="post">Chief Enterprise Officer</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/jenny.png" alt="Jenny" />
							<div class="team-content">
								<h3 class="title">Jenny</h3>
								<span class="post">Chief Transformation Officer</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mb-4">
					<div class="card h-100 text-center">
						<div class="our-team">
							<img class="img-fluid" src="images/team_03.jpg" alt="" />
							<div class="team-content">
								<h3 class="title">Douglas Sánchez</h3>
								<span class="post">Chief Financial Officer</span>
								<ul class="social">
									<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
	</div>
	
	<div class="customers-box"> 
		<div class="container">
			<!-- Our Customers -->
			<h2>Our Customers</h2>
			<br>
			<div class="row">
				<div class="col-lg-12">
					<div id="customers-slider" class="owl-carousel">
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_01.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_02.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_03.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_04.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_05.png" alt="" />
						</div>
						<div class="mb-4">
							<img class="img-fluid" src="images/logo_06.png" alt="" />
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</div>
	
	<%- include('footer'); %>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
