<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> Accente </title>
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div class="wrapper-main">
		<!-- Top Bar -->
		<%- include('navbar'); %>

			<!-- full Title -->
			<div class="full-title">
				<div class="container">
					<!-- Page Heading/Breadcrumbs -->
					<h1 class="mt-4 mb-3"> Can you believe it? </h1>
					<div class="breadcrumb-main">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Home</a>
							</li>
							<li class="breadcrumb-item active"> Accente's new CTO </li>
						</ol>
					</div>
				</div>
			</div>

			<div class="blog-main">
				<div class="container">
					<div class="row">
						<!-- Post Content Column -->
						<div class="col-lg-8">
							<!-- Preview Image -->
							<img class="img-fluid rounded" src="images/jenny_temp.png" alt="" />
							<hr>
							<!-- Date/Time -->
							<p>Posted on October 1, 2021 at 18:00 PM</p>
							<hr>
							<!-- Post Content -->
							<p class="lead">Accente announced a series of leadership changes today, including tapping
								14-year industry veteran Godfrey Richardson as its new chief transformation officer. </p>

							<p>Godfrey, who also assumes the title of executive vice president, has held a number of IT
								and transformation roles in the industry since 2009, most recently serving as senior
								vice president of digital business transformation for EI Consulting Services.</p>

							<p>As CTO, Godfrey will be responsible for supporting strategic objectives of Growth and
								Market Share, Shareholders and Market Capitalization, Sustainability, and strategic
								longevity, while supporting the following Lines of business with the following business
								objectives:</p>

							<ul type="disc">
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Customer
										Experience &ndash; Conversion rate and Sales Growth</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Merchandising
										&ndash; New Revenue, Process efficiency&nbsp;</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Procurement
										&ndash; Margin, Quality, and Supplier Performance</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Operations
										&ndash; Business Performance and Innovation</strong></li>
								<li style="font-family: Helvetica; font-weight: bold;"><strong>Head of Human Capital
										&ndash; Core Activities and Experiential Hiring  </strong></li>
							</ul>

							<blockquote class="blockquote">
								<p class="mb-0">The changes we’re announcing create new opportunities for key leaders to bring their knowledge and experiences to different areas of the business, I’m confident these moves will drive Accente’s position as a best-in-class consulting company today and well into the future.</p>
								<br>
								<footer class="blockquote-footer">Fernando Leung
									<cite title="Source Title">Accente's CEO</cite>
								</footer>
							</blockquote>

							<hr>
							<div class="blog-right-side">
								<!-- Comments Form -->
								<div class="card my-4">
									<h5 class="card-header">Leave a Comment:</h5>
									<div class="card-body">
										<form>
											<div class="form-group">
												<textarea class="form-control" rows="3"></textarea>
											</div>
											<button type="submit" class="btn btn-primary">Submit</button>
										</form>
									</div>
								</div>
							</div>
							<br>
							<!-- Single Comment -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="images/testi_01.png" alt="">
								<div class="media-body">
									<h5 class="mt-0">Jerry Rice</h5>
									This must be the smartest thing that Accente has done in the past 10 years.
								</div>
							</div>
							<br>
							<!-- Comment with nested comments -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="images/testi_02.png" alt="">
								<div class="media-body">
									<h5 class="mt-0">Steve Young</h5>
									I cannot believe how well the market reacted to this news. Let's just hope that Jenny will bring more innovation into Accente
									<br>
									<br>
									<div class="media mt-4">
										<img class="d-flex mr-3 rounded-circle" src="images/testi_01.png" alt="">
										<div class="media-body">
											<h5 class="mt-0">Commenter Name</h5>
											I cannot agree more. 22% raise in just one day! A lot of pressure into this decision.
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Single Comment -->
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="images/testi_03.png" alt="">
								<div class="media-body">
									<h5 class="mt-0">Jenny Garopolo</h5>
									@Accente, What you planning to make Accente and its customers more sustainable?
								</div>
							</div>

						</div>

						<!-- Sidebar Widgets Column -->
						<div class="col-md-4 blog-right-side">

							<!-- Search Widget -->
							<div class="card mb-4">
								<h5 class="card-header">Search</h5>
								<div class="card-body">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
											<button class="btn btn-secondary" type="button">Go!</button>
										</span>
									</div>
								</div>
							</div>

							<!-- Side Widget -->
							<div class="card my-4">
								<h5 class="card-header">Accente's Stock Rockets</h5>
								<div class="card-body">
									After new CTO annoucement, Accente's stock raised 22%, reaching a new all time high.
									The market view this change as a positive move for Accente towards 2022-2023 goals
									and expectations.
								</div>
							</div>

						</div>

					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>

			<%- include('footer'); %>
	</div>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery.appear.js"></script>
	<script src="js/script.js"></script>
</body>

</html>