<!-- Contact Us -->
<div class="touch-line">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
               <p> <b> What are you waiting to start your Business Transformation in the hands of the best experts?</b></p>
               <p><b>We can help you achieve your goals - together</b> </p>
            </div>
            <div class="col-md-4">
               <a class="btn btn-lg btn-secondary btn-block" href="contact"> Contact Us </a>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <img src="images/SAILLogo-03.png" width="20%" alt="SAIL">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">About Us</h5>
                <!--headin5_amrc-->
                <p class="mb10">With More Than 2,000 Professionals, Accente Provides Audit And Assurance, Tax, Consulting, Strategy And Risk And Financial Advisory Services.</p>
                <br>
                <ul class="footer-social">
<!--                     <li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
                    <li><a class="twitter hb-xs-margin" href="#"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li> -->
                    <li><a class="instagram hb-xs-margin" target="_blank" href="https://www.instagram.com/thesapacademy"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
<!--                     <li><a class="googleplus hb-xs-margin" href="#"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
                    <li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li> -->
                </ul>
            </div>	
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="/"><i class="fas fa-long-arrow-alt-right"></i>Home</a></li>
                    <li><a href="about"><i class="fas fa-long-arrow-alt-right"></i>About</a></li>
                    <li><a href="services"><i class="fas fa-long-arrow-alt-right"></i>Services</a></li>
                    <li><a href="contact"><i class="fas fa-long-arrow-alt-right"></i>Contact Us</a></li>
                    <li><a href="news"><i class="fas fa-long-arrow-alt-right"></i>News</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <!--headin5_amrc ends here-->
                <ul class="footer_ul2_amrc">
                    <li>
                        <a href="https://www.instagram.com/thesapacademy"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <p>Accente was the solution I was looking for to achieve my business transformation<a href="https://www.instagram.com/thesapacademy"></a></p>
                    </li>
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <div class="news-box">
                    <h5 class="headin5_amrc col_white_amrc pt2">News</h5>
                    <p>Accente hires Jenny, a new Chief Transformation Officer, that will enable Accente's strategy to ... <a href="news">Read More</a></p>
                    <form action="#">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search for..." type="text">
                            <span class="input-group-btn">
                              <button class="btn btn-secondary" type="button">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="copyright text-center">All Rights Reserved. &copy; 2022 <a href="#">Accente</a> Design By Fernando Sánchez
        </p>
    </div>
</footer>